- Dev:
    - GitHub:
        - abbr: GH
          icon: github.svg
          href: https://github.com

    - Nix Packages:
        - abbr: NP
          icon: nixos.svg
          href: https://search.nixos.org/packages
