title: nverk.me
headerStyle: clean

background:
  image: https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?w=1920&q=80
  blur: md
  opacity: 75

theme: dark
color: stone

useEqualHeights: true
cardBlur: md
disableCollapse: false

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
  hideVisitURL: false

layout:
  Streaming:
    style: row
    columns: 2
    header: true
    icon: mdi-play-circle-outline
  Content Management:
    style: row
    columns: 3
    header: true
    icon: mdi-folder-multiple-outline
  Downloads:
    style: row
    columns: 2
    header: true
    icon: mdi-download-circle-outline
  Infra:
    style: row
    columns: 3
    header: true
    icon: mdi-server-network
