- logo:
    icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/svg/kubernetes.svg

- greeting:
    text_size: 2xl
    text: Welcome home

- datetime:
    text_size: lg
    format:
      dateStyle: long
      timeStyle: short
      hourCycle: h12

- search:
    provider: [google, duckduckgo]
    focus: false
    target: _blank

- resources:
    label: System
    cpu: true
    memory: true
    cputemp: true
    uptime: true
    disk:
      - /
    expanded: true
    refresh: 3000
