apiVersion: v1

kind: ConfigMap

metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage

data:
  kubernetes.yaml: |
    mode: cluster

  settings.yaml: |
    title: nverk.me
    favicon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/svg/google-home.svg
    headerStyle: clean
    background:
      image: https://images.unsplash.com/photo-1620121478247-ec786b9be2fa

    cardBlur: xs

    color: slate
    hideErrors: true
    showStats: true
    useEqualHeights: true

    quicklaunch:
      searchDescriptions: false
      hideInternetSearch: false
      showSearchSuggestions: true
      hideVisitURL: true

    layout:
      Media:
        style: row
        columns: 4

      Infra:
        style: row
        columns: 4

  services.yaml: |
    - Media:
        - Jellyfin:
            icon: jellyfin.svg
            href: https://jellyfin.nverk.me
            description: Media Server
            widget:
              type: jellyfin
              url: http://jellyfin-service.default.svc.cluster.local:8096
              key: "{{HOMEPAGE_VAR_JELLYFIN_KEY}}"
              enableBlocks: true
              enableNowPlaying: false

        - Jellyseerr:
            icon: jellyseerr.svg
            href: https://jellyseerr.nverk.me
            description: Content Requests
            widget:
              type: jellyseerr
              url: http://jellyseerr-service.default.svc.cluster.local:5055
              key: "{{HOMEPAGE_VAR_JELLYSEERR_KEY}}"

        - Radarr:
          icon: radarr.svg
          href: https://radarr.nverk.me
          description: Movies
          widget:
            type: radarr
            url: http://radarr-service.default.svc.cluster.local:7878
            key: "{{HOMEPAGE_VAR_RADARR_KEY}}"
            enableQueue: true

        - Sonarr:
            icon: sonarr.svg
            href: https://sonarr.nverk.me
            description: TV Shows
            widget:
              type: sonarr
              url: http://sonarr-service.default.svc.cluster.local:8989
              key: "{{HOMEPAGE_VAR_SONARR_KEY}}"
              enableQueue: true

    - Infra:
        - ArgoCD:
            icon: argo-cd.svg
            href: https://argocd.nverk.me
            description: GitOps
            widget:
              type: argocd
              url: https://argocd.nverk.me
              key: "{{HOMEPAGE_VAR_ARGOCD_API_KEY}}"
        
        - qBittorrent:
            icon: qbittorrent.svg
            href: https://torrent.nverk.me
            description: Torrent Client
            widget:
              type: qbittorrent
              url: http://qbit-service.default.svc.cluster.local:8080
              username: nverk1997
              password: "{{HOMEPAGE_VAR_QBIT_PASSWORD}}"
              
        - Cloudflare:
            icon: cloudflare.svg
            href: https://dash.cloudflare.com
            description: Tunnel
            widget:
              type: cloudflared
              accountid: "{{HOMEPAGE_VAR_CLOUDFLARE_ACCOUNT_ID}}"
              tunnelid: "{{HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_ID}}"
              key: "{{HOMEPAGE_VAR_CLOUDFLARE_TUNNEL_TOKEN_HOMEPAGE}}"
        
        - FlareSolverr:
            icon: flaresolverr.svg
            href: http://flaresolverr.default.svc.cluster.local:8191
            description: Cloudflare Proxy
        
        - Prowlarr:
            icon: prowlarr.svg
            href: https://prowlarr.nverk.me
            description: Indexers
            widget:
              type: prowlarr
              url: http://prowlarr-service.default.svc.cluster.local:9696
              key: "{{HOMEPAGE_VAR_PROWLARR_KEY}}"

  widgets.yaml: |
    - datetime:
        text_size: lg
        format:
          timeStyle: short
          hour12: true

    - search:
        provider: [google, duckduckgo]
        focus: true
        showSearchSuggestions: true
        target: _blank

  bookmarks.yaml: |
    - Dev:
        - GitHub:
            - icon: github.svg
              href: https://github.com

        - Nix:
            - icon: nixos.svg
              href: https://search.nixos.org/packages

  docker.yaml: ""
  custom.css: ""
  custom.js: ""
