apiVersion: apps/v1
kind: Deployment
metadata:
  name: kavita
  namespace: default
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: kavita
  template:
    metadata:
      labels:
        app: kavita
    spec:
      containers:
        - name: kavita
          image: jvmilazz0/kavita:latest
          ports:
            - containerPort: 5000
          env:
            - name: TZ
              value: America/Los_Angeles
          volumeMounts:
            - name: config
              mountPath: /kavita/config
            - name: media
              mountPath: /data
      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: kavita-config-pvc
        - name: media
          persistentVolumeClaim:
            claimName: media-pvc
