apiVersion: v1
kind: Service
metadata:
  name: qbit-service
  namespace: default
spec:
  selector:
    app: qbittorrent
  ports:
    - name: web-ui
      port: 8080
      targetPort: 8080
    - name: bittorrent-tcp
      port: 6881
      targetPort: 6881
      protocol: TCP
    - name: bittorrent-udp
      port: 6881
      targetPort: 6881
      protocol: UDP
  type: LoadBalancer
