apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yml: |
    api:
      dashboard: true
      insecure: true

    entryPoints:
      web:
        address: ":8000"
      websecure:
        address: ":8443"

    log:
      level: INFO
      filePath: ""
      format: json
      access:
        enabled: true
        filePath: ""
        format: json

    providers:
      kubernetesIngress:
        enabled: true
        publishedService:
          enabled: true
