apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: ingressroutes.traefik.io
spec:
  group: traefik.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                entryPoints:
                  type: array
                  items:
                    type: string
                routes:
                  type: array
                  items:
                    type: object
                    properties:
                      match:
                        type: string
                      kind:
                        type: string
                      services:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            kind:
                              type: string
                            port:
                              type: integer
                            weight:
                              type: integer
                            scheme:
                              type: string
                            strategy:
                              type: string
                            passHostHeader:
                              type: boolean
                tls:
                  type: object
  scope: Namespaced
  names:
    plural: ingressroutes
    singular: ingressroute
    kind: IngressRoute
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: traefikservices.traefik.io
spec:
  group: traefik.io
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                weighted:
                  type: object
                  properties:
                    services:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                          namespace:
                            type: string
                          port:
                            type: integer
                          weight:
                            type: integer
                mirroring:
                  type: object
  scope: Namespaced
  names:
    plural: traefikservices
    singular: traefikservice
    kind: TraefikService
