apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: traefik

resources:
  - crds.yaml
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingressroute.yaml
