apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cloudflare

resources:
  - namespace.yaml
  - deployment.yaml

# Note: Using token mode - routes are configured in Cloudflare dashboard
